# Node modules (JavaScript/TypeScript)
node_modules/

# Python Script
**/note_script.py

# Logs
*.log

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.venv/

# VSCode settings
.vscode/

# Pytest cache
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
*.log

# Jupyter Notebook
.ipynb_checkpoints

# mypy
.mypy_cache/

# Cython debug symbols
cython_debug/

# Environment files
*.env